doctype html

//-这个模板不会包含继承关系，因为他是特殊的那一个。
html
	head
		title= "leo's site'"
		link(rel='stylesheet', href = "/styles/index.css")
	body
		div#title-wrapper.title-wrapper 
			div#UpperMask.mask
			h1#title 'im leooonard'
			div#LowerMask.mask
		div(style = "text-align : center")
			ul#button-list
				li#problem problem
				li#blog blog
				li#image image
				li#aboutme aboutme
		div#footer.footer
			span.divide-line
			span &nbsp;by leooonard&nbsp;
			span.divide-line
		
	script(src = "/scripts/jquery.js")
	script(src = "/scripts/index.js")