doctype html
html
	head
		title= "leo"
		link(rel='stylesheet', href='/stylesheets/layout.css')
		link(rel='stylesheet', href='/stylesheets/base.css')
	body
		div.layoutwrapper
			ul
				li
					a(href = "www.baidu.com") blog
				li 
					a(href = "http://www.baidu.com") pic
				li
					a(href = "www.baidu.com") code
		
		block content
  
	block script