doctype html
html
	head
		title= "leo"
		link(rel='stylesheet', href='/public/stylesheets/layout.css')
		link(rel='stylesheet', href='/public/stylesheets/base.css')
	body
		
		block content
  
	block script