html,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5 {
  padding: 0px;
  margin: 0px;
  border: none;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h4 {
  margin: 10px;
}
li {
  margin-bottom: 2px;
}
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.dis-none {
  display: none;
}
.dis-inbl {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.dis-bl {
  display: block;
}
.right {
  float: right;
}
.left {
  float: left;
}
.pos-left-top {
  left: 0px;
  top: 0px;
  position: absolute;
}
.pos-right-top {
  right: 0px;
  top: 0px;
  position: absolute;
}
.pos-left-bottom {
  left: 0px;
  bottom: 0px;
  position: absolute;
}
.pos-right-bottom {
  right: 0px;
  bottom: 0px;
  position: absolute;
}
.clear-both {
  clear: both;
}
.marg-mid {
  margin: 0 auto;
}
.up-arrow {
  display: block;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: white white gray white;
}
.down-arrow {
  display: block;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: white white gray white;
  border-color: gray white white white;
}
.title-wrapper {
  height: 150px;
  margin: 100px;
  position: relative;
}
.mask {
  height: 30px;
  background-color: white;
}
#UpperMask {
  border-bottom: solid 1px gray;
  position: relative;
  width: 300px;
  margin: 0 auto;
  top: 30px;
}
#LowerMask {
  border-top: solid 1px gray;
  position: relative;
  width: 300px;
  margin: 0 auto;
  top: -30px;
}
h1 {
  text-align: center;
  height: 40px;
  width: 300px;
  padding: 10px 0px;
  line-height: 40px;
  top: 200px;
  margin: 0 auto;
}
ul {
  display: inline-block;
}
li {
  display: inline-block;
  padding: 10px;
  border: solid 1px gray;
  margin: 0 10px;
}
li:hover {
  background-color: gray;
  color: white;
  cursor: pointer;
}
.footer {
  margin-top: 100px;
  text-align: center;
  font-size: 18px;
}
.divide-line {
  width: 30px;
  border-bottom: solid 1px gray;
  display: inline-block;
  position: relative;
  top: -8px;
}
